@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url("./header.css");

* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0 5%;
    font-family: 'Inter', sans-serif;
    background-image: url(../Assets/papel-de-parede-pixel-parede.jpg);
    color: white;
    font-size: 16px;
}

.grid {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-areas:
        "cabecalho cabecalho cabecalho "
        "esquerdo section1  direito"
        "esquerdo section1  direito"
        "esquerdo section2  direito"
        "esquerdo section2  direito"
        "rodape   rodape   rodape"
    ;
}



#navegacao__left {
    grid-area: esquerdo;
    display: flex;
    flex-direction: column;
}

.imagens__left:hover {
    transform: scale(1.6, 1.6);
    border: 1px solid #F6DA33
}

.imagens__left {
    width: 100%;
    padding: 0.3em 0;
}

#titulo_left {
    margin-bottom: 1em;
}

#navegacao__right {
    grid-area: direito;
    display: flex;
    flex-direction: column;
}

#container__section01 {
    grid-area: section1;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    margin: 0 2.5em;
}

#titulo,
.paragrafo_2_titulo {
    text-transform: uppercase;
    font-size: 40px;

}

.container__texto {
    width: 50%;

}

#texto_jedi,
.perspective_2_titulo {
    font-size: 24px;

}

#paragrafo__index__imagem {
    margin: 50%
}

#linktexto {
    text-decoration: none;
    color: #FFE81F;
}

#container__contato {
    grid-area: section2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5em 0 3em;
    
}


#navegacao__left,
#navegacao__right {
    display: none;
}


.rodape__container {
    grid-area: rodape;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;

}



@media screen and (min-width: 822px) and (max-width: 1600px) {

    #titulo,
    .paragrafo_2_titulo {
        text-transform: uppercase;
        font-size: 32px;
    }

    #texto_jedi,
    .perspective_2_titulo {
        font-size: 19px;
        padding-top: 1em;
    }

    #imagem2{
        width: 90%;
    }

    .container__texto{
       margin-right: 4.5em;
    }

}


@media screen and (max-width: 821px) {


    .grid {
        
        background-color: rgba(0,0,0,0.6);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "cabecalho cabecalho"
            "section1 section1"
            "section2 section2"
            "rodape  rodape";
    }

    #navegacao__left {
        display: none;
    }

    #navegacao__right {
        display: none;
    }



    #container__section01 {     
        grid-area: section1;
        display: flex;        
        color: aliceblue;
        flex-direction: column;
        margin: 0; 
        width: 100%;
    }

    .container__texto {
   
       text-align: center;
       width: 100%;

     
    }

    #titulo {
        font-size: 1.5em;
        padding-bottom: 0;
    }

    #texto_jedi {
        font-size: 16px;
        padding: 0.5em 0;
        
    }

    .container__imagem01 {
        width: 100%;        
    }

    .paragrafo__imagem {     
        width: 100%;       
    }

    #container__contato{
        flex-direction: column-reverse;
        grid-area: section2;
        padding: 0;
        width: 100%;
    }

    .paragrafo_2_titulo{
        font-size: 1.5em;
    }

    .perspective_2_titulo{
        font-size: 16px;
        margin: 0.5em 0;
    }

    .container__foto{
         padding: 0;
         width: 100%;
    }
    
    #imagem2{
        width: 100%;
    }

    .rodape__container{
        
        width: 100%;
    }

}
